* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  color: white;
  padding: 0px 20px;
  text-decoration: none;
  margin: 0px 20px;
  display: block;
  padding-top: 0.8vw;
  height: 3vw;
  text-align: center;
}
nav {
  background-color: #333;
}
li a:hover {
  background-color: #111;
}
#registro, #ingreso {
  float: right;
}
#registro a:hover {
  background-color: #e3170a;
}
#ingreso a:hover {
  background-color: #a9e5bb;
}
#logo_principal a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color:#E3170A;
  border: 2px solid black;
  border-radius: 12px;
  padding: 7px;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
img {
  height: 100%;
  border-radius: 10px;
  max-width: 300px;
}
.titulo_puntero {
  font-family: "Noto Sans Mono", monospace;
  font-size: 2.5vw;
  text-decoration: none;
  display: inline;
}
.programa-principal {
  background-image: url(El_puntero_Serie_de_TV-769340203-large.jpg);
  padding: 300px 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.programa-principal:before {
  content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}
.programa-principal a {
  text-decoration: none;
}
.transbox p {
  font-weight: bold;
  font-size: 4vw;
	color: #fff;
  position: relative;
}
.info_puntero {
  color:#fff;
  position: relative;
}
.categoria_puntero{
  position: relative;
  color: #111;
  padding: 70px;
  background-color: gold;
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
}
.fecha_puntero, .tiempo_puntero {
  padding: 10px;
  background-color: gold;
  border: 2px solid red;
  border-radius: 12px;
  color: #111;
  font-family: "Noto Sans Mono", monospace;
  font-weight: bold;
}
.adelanto_puntero {
  text-align: center;
  font-size: 2vw;
}
button {
  position: relative;
  background-color: gold;
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}
h2 {
  font-family: 'Karla', sans-serif;
  font-size: 2.5vw;
}
section, article {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: nowrap;
}
#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#titulo_avenger {
  padding-left: 40px;
  margin-left: 20px;
}
#titulo_american {
  padding-right: 200px;
  padding-left: 130px;
  margin-left: 50px;
}
#titulo_psycho {
  padding-right: 220px;
}
#titulo_truman {
  padding-right: 40px;
  margin-right: 50px;
}
#titulo_avenger, #titulo_american, #titulo_psycho, #titulo_truman {
  font-family: 'Cookie', cursive;
}
#flex-container a {
  text-decoration: none;
  color: #111;
}
#flex-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#flex-container2 a {
  text-decoration: none;
  color: #111;
}
#titulo_calamar, #titulo_reino, #titulo_breaking, #titulo_patron {
  font-family: 'Cookie', cursive;
}
#titulo_calamar {
  padding-left: 70px;
}
#titulo_breaking {
  padding-left: 60px;
  margin-right: 30px;
}
#titulo_patron {
  padding-right: 30px;
  margin-right: 50px;
}
#titulo_reino {
  padding-left: 20px;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #E3170A;
  color: white;
}
#logoprincipal_footer a {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color:#E3170A;
  border-radius: 12px;
  display: inline;
  color: white;
  text-decoration: none;
}
#logos li a {
  display: block;
  padding: 20px;
  color: white;
}
body {
  background-color: #1B1B1E;
}
h2, p {
  color: #fff;
}
form {
  padding: 32px;
}
h1 {
  padding-left: 30px;
}
.links_en_caida {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .links_en_caida{
  display: block;
}
.links_en_caida a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.links_en_caida a:hover {background-color: #f1f1f1;}
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: #111;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
@media screen and (max-width: 700px) {
  section, article, #flex-container, #flex-container2{
    flex-wrap: wrap;
  }
}